@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "bootswatch/flatly/_variables.scss";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bootswatch/flatly/_bootswatch.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;

}
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

body.success {
  background: url("/images/fireworks.gif") no-repeat center;
  background-size: cover;

  .jumbotron {
    color: $brand-success;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;

}
/* Custom page header */
.header {
  @media screen and (min-width: 768px) {
    border-bottom: 1px solid #e5e5e5;

  }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

}
.container-narrow > hr {
  margin: 30px 0;

}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .input-group {
    width: 360px;
    margin: 0 auto;

    @media screen and (max-width: 360px) {
      width: 100%;

      .form-control,
      .btn {
        font-size: 30px;
      }
    }

  }
  .form-control,
  .btn {
    padding: 14px 24px;
    height: auto;
    font-size: 46px;
    text-align: center;

  }
  .form-control {
    padding-right: 8px;
    padding-left: 8px;
  }

}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }

}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}
input[type=number] {
  -moz-appearance: textfield;

}
.undo.alert {
  width: 360px;
  margin: 20px auto 0;

  @media screen and (max-width: 360px) {
    width: 100%;
  }

}
.fade {
  opacity: 1;

  &.ng-hide {
    opacity: 0;

  }
  &.ng-hide-add,
  &.ng-hide-remove {
    transition: 0.25s linear all;
  }

}
.progress {
  box-shadow: 0 0 85px rgba(0, 0, 0, 0.5);

}
table.entries {
  th,
  td {
    text-align: center;

  }
  td.date {
    text-transform: lowercase;
  }

}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;

  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;

  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;

  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
