<div class="jumbotron">
  <h1>
    <strong>
      <span animate-increments="{{vm.sum = vm.total(vm.indexing.batches)}}"></span>/1000
    </strong>
    batches
  </h1>
   <progressbar max="1000" value="vm.sum" type="success">{{vm.sum / 1000 | percentage}}</progressbar>
  <br />
  <p class="lead">
    How many batches have you indexed?<br />Record them here:
  </p>
  <br />
  <form>
    <div class="input-group">
      <input type="text" class="form-control batches" ng-model="vm.batches">
      <span class="input-group-btn">
        <button class="btn btn-success" ng-click="vm.record()">
          Record <span class="glyphicon glyphicon-ok"></span>
        </button>
      </span>
    </div>
  </form>
</div>
